# **ETL**

In [2]:
# Main libraries

import requests 
import os 
import pandas as pd  
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine

In [6]:
pd.set_option('display.max_rows', 5)

### **cities-states**
**Method**: csv file import

In [36]:
# Main cities data import
dir_cities_states = os.getcwd()+'\\..\\source_data\\World_cities.csv'

In [37]:
cities_states = pd.read_csv(dir_cities_states)
cities_states = cities_states[cities_states['country']=='Mexico']
cities_states = cities_states[['city','admin_name','population','lat','lng']]
cities_states = cities_states.reset_index(drop =True)
cities_states = cities_states.rename(columns={'city':'name','admin_name':'state','lat':'latitude','lng':'longitude'})
cities_states

             name             state  population  latitude  longitude
0     Mexico City  Ciudad de México  21804000.0   19.4333   -99.1333
1     Guadalajara           Jalisco   5525000.0   20.6767  -103.3475
..            ...               ...         ...       ...        ...
981       Mazatán            Sonora      1058.0   29.0167  -110.1333
982  Punta Prieta   Baja California       112.0   28.9289  -114.1556

[983 rows x 5 columns]

In [38]:
# Saving the table
file_path =  os.getcwd() + '/../cleaned_data/cities_states.csv'
cities_states.to_csv(file_path, index=False)

In [ ]:
# Database Connection

engine = create_engine('mssql+pyodbc://SERVER_NAME/weather?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server')

In [ ]:
# Database load
cities_states.to_sql('cities_states', engine, if_exists='append', index=False)