# **ETL**

In [2]:
# Main libraries

import requests 
import os 
import pandas as pd  
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine

In [3]:
pd.set_option('display.max_rows', 5)

### **Cities**
**Method**: csv file import

**Localities: main cities extended**

In [4]:
# Main cities extended: including small towns and localities
dir_localities = os.getcwd()+'\\..\\source_data\\AGEEML_2020.csv'

In [5]:
localities =pd.read_csv(dir_localities, encoding='ANSI')
localities = localities[['NOM_LOC','NOM_MUN', 'NOM_ENT','LAT_DECIMAL', 'LON_DECIMAL', 'ALTITUD','POB_TOTAL']]
localities = localities.rename(columns={'NOM_LOC':'Locality', 'NOM_MUN':'Municipality', 'NOM_ENT':'State','LAT_DECIMAL': 'Latitud', 'LON_DECIMAL':'Longitud', 'ALTITUD':'Altitud','POB_TOTAL':'Population'  })
localities

,Locality,Municipality,State,Latitud,Longitud,Altitud,Population
0,Aguascalientes,Aguascalientes,Aguascalientes,21.879822,-102.296046,1878,863893
1,Granja Adelita,Aguascalientes,Aguascalientes,21.871874,-102.373530,1901,5
...,...,...,...,...,...,...,...
297851,San Rafael,Santa María de la Paz,Zacatecas,21.527594,-103.372259,2041,3
297852,Santa Fe,Santa María de la Paz,Zacatecas,21.528991,-103.385095,2021,0

In [6]:
# Saving the table
file_path =  os.getcwd() + '/../cleaned_data/localities.csv'
localities.to_csv(file_path, index=False)

**Main cities: cities**

In [7]:
# Main cities data import
dir_cities_states = os.getcwd()+'\\..\\cleaned_data\\cities_states.csv'

In [8]:
cities_states = pd.read_csv(dir_cities_states)
cities_states

             name             state  population  latitude  longitude
0     Mexico City  Ciudad de México  21804000.0   19.4333   -99.1333
1     Guadalajara           Jalisco   5525000.0   20.6767  -103.3475
..            ...               ...         ...       ...        ...
981       Mazatán            Sonora      1058.0   29.0167  -110.1333
982  Punta Prieta   Baja California       112.0   28.9289  -114.1556

[983 rows x 5 columns]

In [12]:
cities = cities_states[['name', 'population','latitude','longitude']]
cities

             name  population  latitude  longitude
0     Mexico City  21804000.0   19.4333   -99.1333
1     Guadalajara   5525000.0   20.6767  -103.3475
..            ...         ...       ...        ...
981       Mazatán      1058.0   29.0167  -110.1333
982  Punta Prieta       112.0   28.9289  -114.1556

[983 rows x 4 columns]

In [13]:
# Saving the table
file_path =  os.getcwd() + '/../cleaned_data/cities.csv'
cities.to_csv(file_path, index=False)

In [ ]:
# Database Connection

engine = create_engine('mssql+pyodbc://SERVER_NAME/weather?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server')

In [ ]:
# Database load
cities.to_sql('cities', engine, if_exists='append', index=False)