# **ETL**

In [4]:
# Main libraries

import requests 
import os 
import pandas as pd  
import numpy as np
from sqlalchemy import create_engine

### **ETL_climates**

**Method**: csv file import with python

In [ ]:
# File: climate_mx
dir_climates = os.getcwd()+'\\..\\source_data\\climates.csv'
dir_climates

In [9]:
climates = pd.read_csv(dir_climates, encoding = 'ansi')
climates

  group         name                                        description
0     A     Tropical  Average temperature of 18 °C (64.4 °F) or high...
1     B          Dry  Low precipitation in a region that does not fi...
2     C    Temperate  Has the coldest month averaging between 0 °C (...
3     D  Continental  Has at least one month averaging below 0 °C (3...
4     E        Polar  Has every month of the year with an average te...

In [10]:
# Saving the table

file_path =  os.getcwd() + '/../cleaned_data/climates.csv'
climates.to_csv(file_path, index=False)

In [ ]:
# Database Connection: We use sql server with a trusted connection and weather as database name
engine = create_engine('mssql+pyodbc://SERVER_NAME/weather?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server')

In [ ]:
# Database load
climates.to_sql('climates', engine, if_exists='append', index=False)